@import "bootstrap";

h1 {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 30px;
}

.container-fluid {
  padding: 0;
}

.main-container {
  width: 80%;
  text-align: center;
}

.center {
    margin: auto;
    width: 90%;
    border: 3px;
    padding: 10px;
}

.show-container, .new-research-container, .devise-views-container {
  margin: 0 auto;
  width: 90%;
  padding: 5%;
}

.button-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
