@import "bootstrap";

h1 {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 30px;
}

.container-fluid {
  padding: 0;
}

.main-container {
  width: 80%;
  text-align: center;
}

.center {
    margin: auto;
    width: 90%;
    border: 3px;
    padding: 10px;
}
